/*selector universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: aquamarine;
    width: 80%;
    margin: 0 auto;
}
.card{
    display: flex;
    
}
.card div img{
width: 80%;
}
.img1{
    display: flex;
    align-items: center;
}

@media screen and (min-width: 700px) {
    body {
      background-color: blue;
    }
    .card{
flex-wrap: wrap;
    }
    }
    
  
  