
body{
    /* background-image: url(../image/backf2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; */
    background-color: red ;}

    footer{
        background-image: url(../image/navidad.webp);
        font-size: 10px;
    }